<div id="chartContainer"#myDiv >
    <div id="firstColumnContainer">
        <div id="mainCanvasDiv">
            <canvas 
                id="mainCanvas"
                #myCanvas 
                width="2000" 
                height="1000"
                (pointerdown)="onMouseDown($event)" 
                (pointerup)="onMouseUp($event)"
                (pointermove)="onMouseMove($event)"
                (pointerleave)="onMouseLeave($event)"
                (mousewheel)="onMouseWheel($event)"
                
            ></canvas>
        </div>
        <div id="yCanvasDiv">
            <canvas 
                id="yAxisChart"
                #yAxisCanvas 
                width="50" 
                height="1000"
            ></canvas>  
        </div>
    </div>
    <div id="secondColumnContainer">
        <div id="xCanvasDiv">
            <canvas
                id="xAxisChart"
                #xAxisCanvas 
                width="2000" 
                height="50"
                (click)="testDraw()"
             ></canvas>
        </div>
        <div id="fillCanvasDiv">
            <canvas
                id="fillCanvasChart"
                #fillCanvas 
                width="100" 
                height="50"
            ></canvas>
        </div>
    </div>
    
</div>
