#contentWrapper {  
    flex: 1 1 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
#topLayoutContainer {
    flex: 0 0 30px;
    display: flex;
}
#mainLayoutContainer {
    border-radius: 0px 5px 5px 5px;
    background-color: white; 
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
}

#toolbarContainer {
    flex: 0 0 30px;
    display: flex;
}
#chartContainer {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}
#newsContainer{
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}
#calendarContainer{
    
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}
app-news{
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}
app-calendar{
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}

app-chart {
    flex: 1 1 100%;
    display: flex;
    
    
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #40525b;
    color: white;
    font-size: 12px;
    border: none;
    cursor: pointer;
    flex: 0 0 100px;   
}
/* No outline on click */
button {
    outline-style: none;
}
.btnActive {
    background-color: white;
    color: black;
}
