<div id="contentWrapper">
    <div id="topLayoutContainer">
        <button title="Chart" [ngClass]="{'btnActive' : chartViewBool}" class="dropbtn" (click)="changeView(1)">Chart</button>
        <button title="Calendar"  [ngClass]="{'btnActive' : calendarViewBool}" class="dropbtn" (click)="changeView(2)" >Calendar</button>
        <button title="News"  [ngClass]="{'btnActive' : newsViewBool}" class="dropbtn" (click)="changeView(3)" >News</button>
    </div>

    <div id="mainLayoutContainer">

        
        <div id="chartContainer" *ngIf="chartViewBool">
            <app-chart></app-chart>
        </div>
        
        <div id="calendarContainer" *ngIf="calendarViewBool">
            <app-calendar></app-calendar>
        </div>

        <div id="newsContainer" *ngIf="newsViewBool">
            <app-news></app-news>
        </div>

    </div>

</div>
