<div id="contentWrapper">
    <div id="topLayoutContainer">
        <button title="Chart" [ngClass]="{'btnActive' : chartViewBool}" class="dropbtn" (click)="changeView(1)">Chart</button>
        <button title="Calendar"  [ngClass]="{'btnActive' : calendarViewBool}" class="dropbtn" (click)="changeView(2)" >Calendar</button>
        <button title="News"  [ngClass]="{'btnActive' : newsViewBool}" class="dropbtn" (click)="changeView(3)" >News</button>
    </div>

    <div id="mainLayoutContainer">

        <div id="toolbarContainer" *ngIf="chartViewBool" >
            <app-toolbar ></app-toolbar>
        </div>

        <div id="mainContainer" *ngIf="chartViewBool">
            <app-chart></app-chart>
            <app-symbolbar></app-symbolbar>
        </div>

        <div id="mainContainer2" *ngIf="calendarViewBool">
            <p>Calendar section</p>
        </div>

        <div id="mainContainer3" *ngIf="newsViewBool">
            <p>News section</p>
        </div>

    </div>

</div>
