
<div id="toolbarContent">
  <div class="dropdown" >
    <button title="Layouts" (click)="onClick($event)" class="dropbtn">D</button>
    <div class="dropdown-content " (mouseleave)="mouseLeave()" *ngIf="isVisible" >
      <a href="#">Fullscreen</a>
      <a href="#">Vertical</a>
      <a href="#">Horizontal</a>
      <a href="#">Grid</a>
    </div>
  </div>
  <!-- ------------------divider----------------- -->
  <div class="divider"></div>
  <!-- ------------------content----------------- -->
  <div class="dropdown">
    <button title="Crosshair" (click)="onClick($event)" class="dropbtn">D</button>
  </div>
  <div class="dropdown">
    <button title="Lines" (click)="onClick($event)" class="dropbtn">D</button>
    <div class="dropdown-content" (mouseleave)="mouseLeave()" *ngIf="isVisible" >
      <a href="#">Trendline</a>
      <a href="#">Vertical line</a>
      <a href="#">Horizontal line</a>
    </div>
  </div>
  <div class="dropdown">
    <button title="Shapes" (click)="onClick($event)" class="dropbtn">D</button>
    <div class="dropdown-content" (mouseleave)="mouseLeave()" *ngIf="isVisible" >
      <a href="#">Rectangle</a>
      <a href="#">Ellipse</a>
      <a href="#">Triangle</a>
    </div>
  </div>
  <div class="dropdown">
    <button title="Fibonacci" (click)="onClick($event)" class="dropbtn">D</button>
    <div class="dropdown-content" (mouseleave)="mouseLeave()" *ngIf="isVisible" >
      <a href="#">Fibonacci Ret.</a>
      <a href="#">Fibonacci Exp.</a>
      <a href="#">Fibonacci Time</a>
    </div>
  </div>
  <div class="dropdown">
    <button title="Labels" (click)="onClick($event)" class="dropbtn">D</button>
    <div class="dropdown-content" (mouseleave)="mouseLeave()" *ngIf="isVisible" >
      <a href="#">Text</a>
      <a href="#">Arrow up</a>
      <a href="#">Arrow down</a>
      <a href="#">Harmonic Formation</a>
      <a href="#">Elliott Waves (3)</a>
      <a href="#">Elliott Waves (4)</a>
    </div>
  </div>
  <!-- ------------------divider---------------- -->
  <div class="divider"></div>
  <!-- ------------------content---------------- -->
  <div class="dropdown" >
    <button title="Indicators" (click)="onClick($event)" class="dropbtn">D</button>
    <div class="dropdown-content" (mouseleave)="mouseLeave()" *ngIf="isVisible">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div>





<!--  -->
<div class="divider"></div>
<div id="addNewChartBtnContainer">
  <div class="dropdown">
    <button title="Add new chart" class="dropbtn">D</button>
  </div>
</div>



